.home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 100%;

    &__title {
        .title {
            text-align: center;
        }
    }

    &__content {
        height: 80%;
    }

    &__form {
        margin: 5px;
    }

    &__form, &__content {
        width: 22rem;
    }
}