@import './base.scss';
@import './variables.scss';
@import './imports.scss';




.app {
    width: 100%;
    height: 100%;


    /*
    * Header
    */
    &-header {
        display: flex;
        justify-content: space-between;
        
        padding: 1rem .75rem;
    }

    /*
    * Body
    */
    &-body {
        .page {
            background-color: $theme-light;
            padding: 0 5rem;
        }
    }

    /*
    * Footer
    */
    &-footer {}
}



