$theme-darken: #181d24;
$theme-dark: #222831;
$theme-grey: #31363F;
$theme-color: #76ABAE;
$theme-light: #EEEEEE;

$dark-error: #ff000078;
$error: #ff00004f;

$dark-warn: #eda80f96;
$warn: #eda80f96;

$dark-info: #0065ff57;
$info: #005bff4a;